/* style.css */
/* Импортируем все стили */
@import 'base.css';
@import 'layout.css';
@import 'components/header.css';
@import 'components/auth.css';
@import 'components/buttons.css';
@import 'components/cards.css';
@import 'components/upload.css';
@import 'components/files.css';
@import 'components/modal.css';
@import 'utilities.css';
@import 'responsive.css';