<section id="translator" class="page active">
    <section class="file-sections">
        <!-- Левая секция - загрузка файла -->
        <div class="content-box flex-column">
            <div class="upload-area" id="uploadArea">
                <p>Перетащите файл сюда</p>
                <p>или</p>
                <button class="btn btn-primary select-file-btn">Выберите файл</button>
                <input type="file" id="fileInput" hidden>
            </div>
            <div class="file-info" id="fileInfo" hidden>
                <p>Файл: <span id="fileName"></span></p>
                <p>Размер: <span id="fileSize"></span></p>
                <button class="btn btn-secondary" id="removeFileBtn">Очистить область</button>
            </div>
        </div>

        <!-- Правая секция - настройки перевода -->
        <div class="content-box">
            <div class="settings-group">
                <div class="form-group">
                    <label class="form-label">Исходный язык:</label>
                    <select class="form-input">
                        <option value="auto">Автоопределение</option>
                        <option value="ru">Русский</option>
                        <option value="en">Английский</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Целевой язык:</label>
                    <select class="form-input">
                        <option value="en">Английский</option>
                        <option value="ru">Русский</option>
                        <option value="es">Испанский</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Формат:</label>
                    <select class="form-input">
                        <option value="same">Исходный формат</option>
                        <option value="pdf">PDF</option>
                        <option value="docx">DOCX</option>
                        <option value="txt">TXT</option>
                    </select>
                </div>
                <button class="btn btn-primary buttonTranslate">Начать перевод</button>
            </div>
        </div>
    </section>
</section>